{% extends 'index.html' %}

{% block content %}
  <h2><span>{{ author.name }}</span> </h2>
  <table class="table">

    <tr><td class="td_bold">Jméno:</td><td> {{ author.name }} </td></tr>
    <tr><td class="td_bold">Narozen:</td><td> {{ author.birth_date }} </td></tr>
    <tr><td class="td_bold">Země:</td><td> {{ author.country }} </td></tr>
  </table>

  <h3>Biografie:</h3>
  <table class="table">
    {% for book in writing %}
      <tr><td><a href="{% url 'book' book.id %}">{{ book.name }}</td><td> </td></tr>
    {% endfor %}
  </table>

{% endblock %}
