{% extends 'index.html' %}

{% block content %}
  <h2><span>Podmínky užití:</span></h2>
  <i>(Aktualizace: 29. 6. 2023)</i>

  <h3>Základní pojmy:</h3>
  <p>
    Provozovatel: OnlineLibrary s.r.o., Na Východě 11/326, 158 00, Praha 13<br>
    nezapsaná v obchodním rejstříku, vedeném u Městského soudu v Praze.<br>
    Provozovatel je vlastníkem ochranné známky „Onlinelibrary.cz“, č. zápisu xxxxxx.
  </p>
  <p>
    Portál: https://www.onlinelibrary.cz<br>
    Uživatel: osoba, která si vytvořila profil na portále<br>
    Profil: formulářem vytvořené uživatelské rozhraní uživatele, včetně jeho osobních i dalších údajů a příspěvků<br>
    GDPR: nařízení EU 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním
    Osobních údajů a o volném pohybu těchto údajů a o zrušení Směrnice 95/46/ES
    (obecné nařízení o ochraně Osobních údajů).<br>
    Občanský zákoník: zákon č. 89/2012 Sb. (občanský zákoník)<br>
    PU:  podmínky užití
  </p>

  <h3>Profil Uživatele</h3>
  <p>Osoba, která chce využívat veškeré funkce a výhody Portálu, si zdarma vytvoří vyplněním formuláře na Portálu Profil. Při jeho vytváření je povinna zadat pravdivé údaje, výhradně o sobě. V případě, kdy se údaje změní, je Uživatel povinen je ve svém Profilu zaktualizovat.</p>
  <p>Do Profilu se Uživatel přihlašuje pod uživatelským jménem (přezdívkou) a heslem. Pokud heslo zapomene, může si jej obnovit prostřednictvím k tomu určeného formuláře na Portále. V případě, že Uživatel umožní využívání svého Profilu třetím osobám a dojde mu tím k nějaké škodě, Provozovatel za tuto škodu neodpovídá.</p>
  <p>Provozovatel si vyhrazuje právo Profil Uživatele kdykoliv zrušit, a to bez udání důvodu a upozornění. Především mohou být smazány Profily Uživatelů, kteří se po dobu delší než 4 roky nepřihlásili do Portálu. Uživatel může kdykoliv sám zrušit svůj Profil ve svém uživatelském rozhraní. Zrušením Profilu se plně smažou všechna data, která Provozovatel o Uživateli zpracovává a zároveň dojde k odvolání souhlasu se zpracováním osobních údajů Uživatele.</p>
  <p>Uživatel bere na vědomí, že jeho Profil nemusí být nepřetržitě dostupný. Provozovatel si totiž vyhrazuje právo bez předchozího upozornění změnit či zrušit jakoukoliv poskytovanou službu na Portálu nebo provádět údržbu systému, při které mohou být některé služby nedostupné. Provozovatel tak nezodpovídá za jakoukoliv vzniklou škodu.</p>

  <h3>Obsah Portálu</h3>
  <p>Provozovatel neodpovídá za Uživatelem zveřejněný obsah na portále, za něj odpovídá Uživatel sám, včetně skutečnosti, že takový obsah neporušuje práva třetích osob. Uživatel bere na vědomí a vyjadřuje souhlas s tím, že Provozovatel uchovává údaje vedoucí k potenciální identifikaci Uživatele, zveřejňujícího daný obsah.</p>
  <p>Provozovatel rovněž neodpovídá ani žádným způsobem neručí za závazky osob inzerujících na Portálu, a není stranou žádného z právních poměrů, které Uživatel případně naváže s takovými třetími osobami.</p>
  <p>Uživatel souhlasí s tím, že Provozovatel je oprávněn vymazat, pozměnit či zablokovat jakýkoliv údaj, příspěvek, informaci, odkaz či jiný obsah. Důvodem tohoto je zejména závadnost předmětného obsahu, a to mimo jiné i proto, že je nepřesný, zavádějící, nesmyslný či jinak neodpovídá skutečnosti, nebo je v rozporu s dobrými mravy nebo závadný jiným způsobem. Zhodnocení povahy obsahu včetně jeho případné závadnosti náleží výlučně Provozovateli. Tento výmaz provádí Provozovatel bez nutnosti obstarat souhlas Uživatele, upozornění či udání důvodu.</p>
  <p>Obsah, který bude Uživatelem na Portál nahrán (s výjimkou osobních údajů a osobních zpráv) není považován za důvěrný ani soukromý, a může být Provozovatelem kopírován, distribuován a zveřejňován třetím stranám.</p>
  <p>Uživatel prohlašuje, že poskytne ke zveřejnění na Portálu obsah, který je jeho duševním vlastnictvím, uděluje k jeho užití Uživatel Provozovateli nevýhradní, přenosnou, převoditelnou, neomezenou, neúplatnou a volnou licenci. Tato licence dále přechází automaticky na právní nástupce Provozovatele, případně na jakýkoliv subjekt, který se případně stane novým vlastníkem či provozovatelem Portálu.</p>
  <p>Anotace knih jsou ve valné většině oficiálními texty nakladatelství a obálky jejich vlastnictvím.</p>
  <p>Naše webové stránky umožňují zobrazení reklamy i třetím stranám.</p>

  <h3>Pravidla užívání Portálu</h3>
  <p>Veškeré služby Portálu jsou uživatelům poskytovány zdarma.</p>
  <p>Portál lze užívat pouze v rámci těchto PÚ a obecně závaznými právními předpisy.</p>
  <p>Uživatel není oprávněn využívat služeb Portálu k jakýmkoli účelům, odporujícím právním předpisům nebo níže uvedeným pravidlům: Jedná se zejména o příspěvky obsahující rasistické výroky, hrubé urážky a hrubé vulgární výrazy (s výjimkou citací pasáží literárních děl), násilné nebo jinak útočné příspěvky, dále o příspěvky žádající zaslání eknih na email.</p>
  <p>Uživatel nesmí užívat portál ke komerčním účelům a nesmí na portál vkládat jakoukoliv placenou či neplacenou reklamu. Nesmí rozesílat spam.</p>

  <h3>Ochrana osobních údajů</h3>
  <p>Provozovatel je správcem osobních údajů ve smyslu relevantních ustanovení GDPR. Tímto jsou ve smyslu čl. 12 GDPR poskytnuty subjektům osobních údajů informace o zpracovávání a ochraně osobních údajů a s tím souvisejících právech. Provozovatel zpracovává osobní údaje v souladu s GDPR, případně dalšími relevantními právními předpisy a při současném šetření práv osob, jejichž údaje jsou zpracovány. Naplňování povinností Provozovatel v oblasti ochrany osobních údajů je nedílnou součástí fungování Portálu.</p>
  <p>Kategorie zpracovávaných osobních údajů se řídí rozsahem, ve kterém byly Provozovateli poskytnuty, a to zejména prostřednictvím formuláře pro vytvoření Profilu na Portále a dále údaji a informacemi získanými v rámci používání Portálu. Jedná se o poskytnuté adresní, identifikační a popisné údaje, především o jméno, příjmení, pohlaví, rok narození, kontaktní informace + okres pobytu a zemi, stejně tak jako elektronické údaje jako IP adresu či cookies, dále informace týkající se oblíbených knih, autorů či chování na Portále.</p>
  <p>Účelem zpracování osobních údajů je jejich zahrnutí do databáze provozované v rámci Portálu a případně další obchodní či jiné aktivity, pro které budou osobní údaje zpracovávány. V případě Provozovatel se jedná o uzavření a plnění smluv, vymáhání práv ze smluv, plnění zákonných povinností (poskytování informací zejména orgánům činným v trestním řízení, v přestupkovém či správním řízení, plnění povinností vůči mimo jiné ÚOOÚ, ČOI či ČTÚ), oprávněné zájmy Provozovatele (ochrana základních či jiných práv Provozovatel vyplývajících z obecných právních předpisů, vč. ochrany majetku) a účely zahrnuté v rámci uděleného souhlasu subjektů osobních údajů.</p>
  <p>Právními tituly zpracování osobních údajů jsou zpracování za účelem uzavírání či plnění smluv, plnění právních povinností, oprávněné zájmy Provozovatele a souhlas udělený subjektem osobních údajů.</p>
  <p>Osobní údaje Uživatele jsou zpracovávány manuálně i automaticky, včetně profilování. Provozovatel považuje osobní údaje za důvěrné a nebude je bez souhlasu subjektů osobních údajů či zákonné povinnosti předávat třetím osobám. K osobním údajům budou mít kromě Provozovatele přístup též třetí osoby v rámci Evropské unie – zpracovatelé, kteří poskytují vhodné záruky a jejichž zpracování splňuje požadavky dle platných právních předpisů, a které zajišťuje náležitou ochranu vašich práv. Osobní údaje zpracovávané jsou zpracovávány po dobu trvání členství na Portálu a dobu nezbytně nutnou po jeho ukončení. Osobní údaje zpracovávané na základě souhlasu jsou zpracovávány nejdéle do doby odvolání souhlasu, což lze učinit kdykoliv a ukončit tak zároveň členství na Portálu.</p>
  <p>Odvoláním souhlasu není dotčena zákonnost zpracování vycházejícího ze souhlasu, který byl dán před jeho odvoláním. Odvolání souhlasu též nemá vliv na zpracování osobních údajů, které Provozovatel zpracovává na základě jiného právního základu, než je souhlas (tj. zejména je‐li zpracování nezbytné pro splnění smlouvy, právní povinnosti či z jiných důvodů uvedených v platných právních předpisech).</p>
  <p>Svá práva mohou subjekty osobních údajů realizovat prostřednictvím tohoto poučení, po přihlášení v členské sekci Portálu či kontaktováním Provozovatele. Pro podrobnější poučení, informace o zpracování osobních údajů a výkon svých práv se subjekt osobních údajů může obrátit na Provozovatele prostřednictvím kontaktního e-mailu. </p>

  <h3>Závěr</h3>
  <p>Provozovatel může tyto Podmínky užití kdykoliv doplnit či měnit (o každé změně však bude Uživatel informován prostřednictvím informace o novém znění Podmínek na Portálu.) Uživatel souhlasem s nimi souhlasí i s tím, aby byly aplikovány na veškerý dosud jím poskytnutý obsah Provozovateli, v souvislosti s provozem Portálu.
  Právní poměry mezi Uživateli a Provozovatelem se řídí právem České republiky (zejména Občanským zákoníkem + GDPR.)</p>

{% endblock %}